**/custom.ini
**/config.yaml

.git
.coverage

# Unit test / Coverage reports
**/.cache
**/.coverage
**/.pytest_cache

# PyCharm
.idea

# Byte-compiled / optimized / DLL files
**/__pycache__
**/*.py[cod]
