geoalchemy2
alembic
psycopg2-binary
sqlalchemy-utils
text-unidecode
python-slugify
dateparser
sentry-sdk
click
loguru
pyyaml
https://github.com/boundlessgeo/gsconfig/archive/master.zip#egg=gsconfig
fastapi
requests
uvicorn
