connexion
dataclasses
geoalchemy2
alembic
psycopg2-binary
sqlalchemy-utils
text-unidecode
python-slugify
sentry-sdk[flask]
click
loguru
pyyaml
Flask-Cors
https://github.com/boundlessgeo/gsconfig/archive/master.zip#egg=gsconfig

fastapi[all]
